---
title: "Welcome to the Tiny Machine Learning Open Education Initiative (TinyMLx)"
layout: splash
permalink: 
date: 
header:
  overlay_color: "#00A"
  overlay_filter: "0.5"
  overlay_image: /assets/images/banner.jpg
  actions:
    - label: "Take an edX Course to Lean More"
      url: "https://www.edx.org/professional-certificate/harvardx-tiny-machine-learning"
    - label: "Build and Teach your own TinyML Course"
      url: "/teach/"
  caption: ""
excerpt: "TinyML is a cutting-edge field that brings the transformative power of machine learning (ML) to the performance- and power-constrained domain of embedded systems. Successful deployment in this field requires intimate knowledge of applications, algorithms, hardware, and software."

intro: 
  - title: 'Take one of our exciting courses!'

feature_row:
  - image_path: /assets/images/foundationsOfTinyML.jpg
    alt: "Foundations of TinyML"
    title: "Foundations of TinyML"
    excerpt: "Focusing on the basics of machine learning and embedded systems, such as smartphones, this course will introduce you to the “language” of TinyML."
    url: "https://www.edx.org/course/fundamentals-of-tinyml"
    btn_label: "Take the Course on edX"
    btn_class: "btn--primary"
    

  - image_path: /assets/images/applicaitonsOfTinyML.jpg
    alt: "Applications Of TinyML"
    title: "Applications Of TinyML"
    excerpt: "Get the opportunity to see TinyML in practice. You will see examples of TinyML applications, and learn first-hand how to train these models for tiny applications such as keyword spotting, visual wake words, and gesture recognition."
    url: "https://www.edx.org/course/applications-of-tinyml"
    btn_label: "Take the Course on edX"
    btn_class: "btn--primary"

  - image_path: /assets/images/deployingTinyML.jpg
    alt: "Deploying TinyML"
    title: "Deploying TinyML"
    excerpt: "Learn to program in TensorFlow Lite for microcontrollers so that you can write the code, and deploy your model to your very own tiny microcontroller. Before you know it, you’ll be implementing an entire TinyML application."
    url: "https://www.edx.org/course/deploying-tinyml"
    btn_label: "Take the Course on edX"
    btn_class: "btn--primary"

thanks: 
  - title: "Thanks to all of our corporate supporters!"


gallery:
  - image_path: /assets/images/sponsors/googleLogo.jpg
    alt: "google"
    url: "https://www.google.com"
  - image_path: /assets/images/sponsors/arduinoLogo.svg
    alt: "Arduino"
    url: "https://www.arduino.cc"
  - image_path: /assets/images/sponsors/harvardXLogo.jpg
    alt: "HarvardX"
    url: "https://programs.edx.org/partner-harvard"
  - image_path: /assets/images/sponsors/edXLogo.png
    alt: "edX"
    url: "https://www.edx.org"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="thanks" type="center" %}

{% include gallery %}